# Copy this file to .env and fill
# You can provide a single key, or a comma-separated list of keys. 
# If you provide multiple, Vera will automatically round-robin and fallback if one hits the Free Tier limit!
GEMINI_API_KEY="AIzaSy...your_key_1...,AIzaSy...your_key_2..."
GEMINI_MODEL=gemini-2.5-flash
